<ul>
  {% for page in site.pages %}
    {% if page.sitemap.include %}
      <li>
        <a href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}{% if page.description %} — {{ page.description }}{% endif %}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% for post in site.posts %}
    {% if post.sitemap.include %}
      <li>
        <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}{% if post.description %} — {{ post.description }}{% endif %}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
